In [1]:
import pandas as pd

df = pd.read_csv('user_data_result_original.csv')

df.head()
df.head()[['fstMPtnFoodG',
 'fstMLipidFoodG',
 'fstMCarbFoodG',
 'secMPtnFoodG',
 'secMLipidFoodG',
 'secMCarbFoodG',
 'thirdMPtnFoodG',
 'thirdMLipidFoodG',
 'thirdMCarboFoodG',
 'fourthMPtnFoodG',
 'fourthMLipidFoodG',
 'fourthMealCarboFoodG',
 'fifthMPtnFoodG',
 'fifthMLipidFoodG',
 'fifthMealCarboFoodG',
 'sixthMPtnFoodG',
 'sixthMLipidFoodG',
 'sixthMealCarboFoodG']]

,fstMPtnFoodG,fstMLipidFoodG,fstMCarbFoodG,secMPtnFoodG,secMLipidFoodG,secMCarbFoodG,thirdMPtnFoodG,thirdMLipidFoodG,thirdMCarboFoodG,fourthMPtnFoodG,fourthMLipidFoodG,fourthMealCarboFoodG,fifthMPtnFoodG,fifthMLipidFoodG,fifthMealCarboFoodG,sixthMPtnFoodG,sixthMLipidFoodG,sixthMealCarboFoodG
0,64,4,23,47,14,35,118,7,77,60,2,59,113,15,48,52,2,51

In [6]:
import pandas as pd
# df = pd.read_csv('user_data_result_pao_ovo_queijo.csv')
df = pd.read_csv('user_data_result_newFoods2.csv')

df.columns.values.tolist()
df.head()[['fstMPtnFoodG',
 'fstMLipidFoodG',
 'fstMCarbFoodG',
 'secMPtnFoodG',
 'secMLipidFoodG',
 'secMCarbFoodG',
 'thirdMPtnFoodG',
 'thirdMLipidFoodG',
 'thirdMCarboFoodG',
 'fourthMPtnFoodG',
 'fourthMLipidFoodG',
 'fourthMealCarboFoodG',
 'fifthMPtnFoodG',
 'fifthMLipidFoodG',
 'fifthMealCarboFoodG',
 'sixthMPtnFoodG',
 'sixthMLipidFoodG',
 'sixthMealCarboFoodG']]
df.head()

,PtnIdeal,LipidIdeal,KcalIdeal,totalPtnCalculated,totalLipidCalculated,totalKcalCalculated,totalKcalInMealCalc,fstMPtnFoodG,fstMLipidFoodG,fstMCarbFoodG,...,thirdMCarboFoodG,fourthMPtnFoodG,fourthMLipidFoodG,fourthMealCarboFoodG,fifthMPtnFoodG,fifthMLipidFoodG,fifthMealCarboFoodG,sixthMPtnFoodG,sixthMLipidFoodG,sixthMealCarboFoodG
0,170.0,85,1686.705125,170.116825,62.39396,1686.823098,254.109237,55,20,30,...,30,119,7,7,119,7,7,186,8,8

In [13]:
df = pd.read_csv('user_data_result_tapioca_ovo_queijo.csv')

df.head()

,PtnIdeal,LipidIdeal,KcalIdeal,totalPtnCalculated,totalLipidCalculated,totalKcalCalculated,totalKcalInMealCalc,fstMPtnFoodG,fstMLipidFoodG,fstMCarbFoodG,...,thirdMCarboFoodG,fourthMPtnFoodG,fourthMLipidFoodG,fourthMealCarboFoodG,fifthMPtnFoodG,fifthMLipidFoodG,fifthMealCarboFoodG,sixthMPtnFoodG,sixthMLipidFoodG,sixthMealCarboFoodG
0,142.0,71,1502.617375,142.271098,74.063993,1579.519451,311.00482,55,20,55,...,77,60,2,59,113,15,48,65,0,1